@{
    ViewData["Title"] = "Booking Confirmation";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Your examination has been successfully booked!</h2>
<p>Thank you for booking your appointment with us. We will contact you shortly for confirmation.</p>
